@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: linear-gradient(135deg, #000000, #000000);
  background-size: cover;
  background-repeat: none;
  overflow-x: hidden;
}
.slick-slide > div {
  margin: 0 10px;
}

h1 {
  @apply text-2xl;
}

@media (min-width: 768px) {
  h1 {
    @apply text-4xl;
  }
}

.bg-shape1 {
  position: absolute;
  z-index: -100;
  animation: one 10s infinite;
}
.bg-shape2 {
  position: absolute;
  z-index: -100;
  animation: two 10s infinite;
}
.bg-shape3 {
  position: absolute;
  z-index: -100;
  animation: three 10s infinite;
}
.bg-shape4 {
  position: absolute;
  z-index: -100;
  animation: four 10s infinite;
}
.bg-shape5 {
  position: absolute;
  z-index: -100;
  animation: five 10s infinite;
}
.bg-shape6 {
  position: absolute;
  z-index: -100;
  animation: six 10s infinite;
}
.bg-shape7 {
  position: absolute;
  z-index: -100;
  animation: seven 10s infinite;
}
.bg-shape8 {
  position: absolute;
  z-index: -100;
  animation: eight 10s infinite;
}

@keyframes one {
  0% {
    left: -400px;
    top: -100px;
  }
  25% {
    left: -250px;
    top: 70px;
  }
  50% {
    left: -180px;
    top: 150px;
  }
  75% {
    left: -150px;
    top: 10px;
  }
  100% {
    left: -400px;
    top: -100px;
  }
}

@media (min-width: 768px) {
  @keyframes two {
    0% {
      left: 700px;
      top: 400px;
    }
    25% {
      left: 750px;
      top: 410px;
    }
    50% {
      left: 800px;
      top: 450px;
    }
    75% {
      left: 750px;
      top: 500px;
    }
    100% {
      left: 700px;
      top: 400px;
    }
  }
}
@keyframes two {
  0% {
    left: 400px;
    top: 1100px;
  }
  25% {
    left: 550px;
    top: 710px;
  }
  50% {
    left: 350px;
    top: 750px;
  }
  75% {
    left: 450px;
    top: 800px;
  }
  100% {
    left: 400px;
    top: 1100px;
  }
}

@keyframes three {
  0% {
    left: 0px;
    top: 2000px;
  }
  25% {
    left: 50px;
    top: 2010px;
  }
  50% {
    left: 100px;
    top: 2050px;
  }
  75% {
    left: 50px;
    top: 2100px;
  }
  100% {
    left: 0px;
    top: 2000px;
  }
}
@media (min-width: 768px) {
  @keyframes three {
    0% {
      left: 1200px;
      top: 2000px;
    }
    25% {
      left: 1050px;
      top: 2010px;
    }
    50% {
      left: 900px;
      top: 2050px;
    }
    75% {
      left: 950px;
      top: 2100px;
    }
    100% {
      left: 1200px;
      top: 2000px;
    }
  }
}
@keyframes four {
  0% {
    left: -100px;
    top: 3600px;
  }
  25% {
    left: 50px;
    top: 3910px;
  }
  50% {
    left: 100px;
    top: 3850px;
  }
  75% {
    left: 50px;
    top: 4100px;
  }
  100% {
    left: -100px;
    top: 3600px;
  }
}
@media (min-width: 768px) {
  @keyframes four {
    0% {
      left: -200px;
      top: 3000px;
    }
    25% {
      left: 50px;
      top: 3210px;
    }
    50% {
      left: 100px;
      top: 3350px;
    }
    75% {
      left: 50px;
      top: 3100px;
    }
    100% {
      left: -200px;
      top: 3000px;
    }
  }
}
@keyframes five {
  0% {
    left: -100px;
    top: 4600px;
  }
  25% {
    left: 50px;
    top: 4710px;
  }
  50% {
    left: 100px;
    top: 4750px;
  }
  75% {
    left: 50px;
    top: 4800px;
  }
  100% {
    left: -100px;
    top: 4600px;
  }
}

@keyframes six {
  0% {
    left: 100px;
    top: 6600px;
  }
  25% {
    left: 250px;
    top: 6710px;
  }
  50% {
    left: 120px;
    top: 6850px;
  }
  75% {
    left: 150px;
    top: 6580px;
  }
  100% {
    left: 100px;
    top: 6600px;
  }
}
@media (min-width: 768px) {
  @keyframes six {
    0% {
      left: 700px;
      top: 5600px;
    }
    25% {
      left: 550px;
      top: 5710px;
    }
    50% {
      left: 620px;
      top: 5850px;
    }
    75% {
      left: 450px;
      top: 5580px;
    }
    100% {
      left: 700px;
      top: 5600px;
    }
  }
}
.slick-dots li.slick-active button::before {
  color: rgb(255, 255, 255) !important;
}
.slick-dots li button::before {
  color: rgb(255, 255, 255);
}
